.modal-container {
  width: 1000px;
  height: 650px;
  margin: auto;
  /* border: 1px solid red; */
  background-color: #030216b9;
  border-radius: 10px;
  position: relative;
}
.modal-title {
  padding: 40px;
  font-size: 40px;
}
.modal-line {
  position: absolute;
  top: 65px;
  right: 50px;
  height: 0.7px;
  /* margin-top: 5px; */
  width: 550px;
  background: linear-gradient(
    90deg,
    rgb(125, 123, 183) 0%,
    #cacae64d 50%,
    #5f63e456 100%
  );
  z-index: 0;
}
.modal-line-2 {
  position: absolute;
  top: 350px;
  left: 150px;
  height: 0.7px;
  /* margin-top: 5px; */
  width: 350px;
  background: linear-gradient(
    90deg,
    rgb(125, 123, 183) 0%,
    #cacae64d 50%,
    #5f63e456 100%
  );
  z-index: 0;
}
.stat-title {
  font-size: 30px;
}
.stat-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stat-item-value {
  margin: 0 40px;
  color: white;
}
.character-pill-list {
  display: flex;
  position: absolute;
  top: 380px;
  left: 150px;
}
.modal-stats {
  position: absolute;
  top: 100px;
  right: 120px;
}
.modal-weapon-image-container {
  z-index: 3;
}
.modal-weapon-image {
  height: 150px;
  position: absolute;
  top: 150px;
  left: 180px;
  /* z-index: 1; */
}

@media only screen and (max-width: 600px) {
  .modal-title{
    font-size: 15px;
    margin-bottom: 135px;
  }
  .modal-stats{
    position: relative;
    margin-left: 25px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    top: 0;
    right: 0;
  }
  .stat-title {
    font-size: 15px;
  }
  .stat-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .stat-item h3 {
    font-size: 14px;
  }
  .stat-item-value {
    margin: 0 40px;
    color: white;
  }
  .modal-container {
    width: 300px;
    height: 800px;
  }
  .modal-weapon-image {
    height: 150px;
    position: absolute;
    top: 80px;
    left: 50px;
    /* z-index: 1; */
  }
  .character-pill-list {
    margin-top: 25px;
    margin-left: 10px;
    display: flex;
    position: relative;
    top: 0;
    bottom: 0px;
    left: 0px;
  }
  
  /* .modal-line {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 0.7px;    
    width: 50px;
    background: linear-gradient(
      90deg,
      rgb(187, 132, 30) 0%,
      #cacae64d 50%,
      #5f63e456 100%
    );
    z-index: 0;
  } */
  /* .modal-line-2 {
    position: absolute;
    top: 350px;
    left: 150px;
    height: 0.7px;
    
    width: 50px;
    background: linear-gradient(
      90deg,
      rgb(125, 123, 183) 0%,
      #cacae64d 50%,
      #5f63e456 100%
    );
    z-index: 0;
  } */
}
